################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ToDoApp/.vs/ToDoApp/FileContentIndex/37b14bc7-66d0-4a8f-9913-8def34bfa7a1.vsidx
/.vs
